.customer-search__dropdown-menu {
    border-radius: 0 0 6px 6px;
    background: #fff;
    position: absolute;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10000;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(46, 54, 66, 0.15);
}

.customer-search__dropdown-item {
    padding: 10px 20px;
    color: #292929;
    font-size: 16px;
    cursor: pointer;
}

.customer-search__dropdown-item:hover {
    background: #f5f5f5;
}

.customer-search__dropdown-item--subtitle {
    font-size: 14px;
    color: #575757;
}
