.user-filter-generate-modal
    &__body
        ^[0]__row
            padding 0 0 20px

            &:last-child
                padding-bottom 0

    &--error
        .rs-input
            border-color #f44336
